./build
./.vscode
build/*
.vscode/*
csvrw
html/annotated.html
html/bc_s.png
html/bdwn.png
html/classCSVFile-members.html
html/classCSVFile.html
html/classCSVRW-members.html
html/classCSVRW.html
html/classes.html
html/closed.png
html/CSVFile_8h_source.html
html/CSVReader_8h_source.html
html/doc.png
html/doxygen.css
html/doxygen.svg
html/dynsections.js
html/files.html
html/folderclosed.png
html/folderopen.png
html/graph_legend.dot
html/graph_legend.html
html/index.html
html/jquery.js
html/md_README.html
html/menu.js
html/menudata.js
html/nav_f.png
html/nav_g.png
html/nav_h.png
html/open.png
html/pages.html
html/splitbar.png
html/sync_off.png
html/sync_on.png
html/tab_a.png
html/tab_b.png
html/tab_h.png
html/tab_s.png
html/tabs.css
html/search/all_0.html
html/search/all_0.js
html/search/all_1.html
html/search/all_1.js
html/search/classes_0.html
html/search/classes_0.js
html/search/close.svg
html/search/mag_sel.svg
html/search/nomatches.html
html/search/pages_0.html
html/search/pages_0.js
html/search/search_l.png
html/search/search_m.png
html/search/search_r.png
html/search/search.css
html/search/search.js
html/search/searchdata.js
latex/annotated.tex
latex/classCSVFile.tex
latex/classCSVRW.tex
latex/doxygen.sty
latex/longtable_doxygen.sty
latex/Makefile
latex/md_README.tex
latex/refman.aux
latex/refman.idx
latex/refman.ilg
latex/refman.ind
latex/refman.log
latex/refman.out
latex/refman.tex
latex/refman.toc
latex/tabu_doxygen.sty