./build
./.vscode
build/*
.vscode/*
csvrw
./html
html/*
latex/annotated.tex
latex/classCSVFile.tex
latex/classCSVRW.tex
latex/doxygen.sty
latex/longtable_doxygen.sty
latex/Makefile
latex/md_README.tex
latex/refman.aux
latex/refman.idx
latex/refman.ilg
latex/refman.ind
latex/refman.log
latex/refman.out
latex/refman.tex
latex/refman.toc
latex/tabu_doxygen.sty
